<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="css/login.css" type="text/css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet">
    <title>NoteApp</title>
</head>
<body>
    <nav class="level">
        <!-- Conditionally render login or logout links -->
        {{#if logged_in}}
        <a href="/dashboard" class="level-item has-text-centered">dashboard</a> |
        <button class="no-button" id="logout">logout</button>
        {{else}}
        <a href="/dashboard" class="level-item has-text-centered">dashboard</a> 
        <h1>NoteApp</h1>
        <a href="/login" class="level-item has-text-centered">logout</a>
        {{/if}}
    </nav>  
      {{{body}}} 
</body>
</html>