<script src="https://cdn.jsdelivr.net/npm/chart.js@3.3.2/dist/chart.min.js"></script>

<h1 style="font-size: 60px; padding-bottom: 40px">Your habits at a glance</h1>
<canvas id="lineChart"></canvas>

<a href="/calandar" class="level-item has-text-centered navFont" style="font-size: 40px;">&#x2190 Return to calendar</a>

<script src="/javscript/graph.js"></script>